*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.sectionshop{
    min-height: 200vh;
    font-family: "Delius Swash Caps", serif;
    background-color: antiquewhite;
}


header{
    height: 100px;
    background-color: #000000;
    color: #fff;
    border-bottom: 3px solid #bbff00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}

.sectionshop  h1 span{
    margin-right: 5px;
}

.sectionshop  span{
    color: #bbff00;
}

.shopbasket a{
    color: white;
    font-size: 20px;
}

.productturn a{
color: white;
font-size:20px;
}

.shopwrapper{
display: grid;
grid: 1fr 1fr 1fr / 1fr 1fr 1fr ;
margin: 0px 15%;
}

.cards{
    position: relative;
    height: 450px;
    width:300px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 40px 10%;
    border-radius: 30px;
    border: 2px solid black;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 9px 10px; 
    transition: all 0.4s ease;
    cursor: pointer;
}

.cards:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.04);
}

.cards img{
    height: 300px;
     width: 296px; 
    border-radius: 30px;
    object-fit: cover;
}

.cards h1{
    text-align: center;
    margin: 20px 0px;
    line-height: 19px;
}

.cards h1 span{
font-size:14px;
color: #ff3300;
}

.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

.price p {
    font-weight: 600;
}

.price .btn{
    position: relative;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: 600;
    font-family: "Delius Swash Caps", serif;
    color: #000000;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
}


.price .btn:hover{
    transform: scale(1.05);
    background-color: #ff3300;
    color: #fff;
}